<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>

<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div>

<h3>Users are online now:</h3>
<ul class="mt-4 list-unstyled">
  <%= render User.online %>
</ul>
